$max-mobile: "(max-width: 37.5em)";
$min-small: "(min-width: 37.5em)";
$min-medium: "(min-width: 48em)";
$min-large: "(min-width: 62em)";
$min-xlarge: "(min-width: 75em)";

$red-color: #e2494c;
$grey-color: #9c9c9c;
$border-radius: 15px;
